head
  title Atlas Neuropädiatrie
  include includes/head.pug
a(href="https://gesellschaft-fuer-neuropaediatrie.org/" target="_blank")
  img(src="https://gesellschaft-fuer-neuropaediatrie.org/wp-content/uploads/2018/06/GNP_Website_Header-Logo.png" alt="Gesellschaft für Neuropädiatrie").logo
include includes/scripts.pug
include includes/atlas.pug