/* nothing to see here yet */
* { margin: 0; padding: 0; }

body, html {
  height:100%;
}

.legend {
  opacity: 1;
  border-radius: 1em;
  padding: 1em;
  background-color: #bbb;
}

.legend-icon {
  height: 2em;
  width: auto;
}
