/* nothing to see here yet */
* { margin: 0; padding: 0; }

/* GNP corporate design color scheme #00377, #3EA9E9, #000000 */

body, html {
  height:100%;
  font-family: FSJackWeb-Regular, Arial, Helvetica, sans-serif;
  color: #000;
}

.legend {
  opacity: 1;
  border-radius: 1em;
  padding: 1em;
  background-color: #bbb;
}

.logo {
  z-index: 500;
  position: absolute;
  top: 1em;
  right: 1em;
  height: 5em;
  width: auto;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
}

.fullscreen-button {
  z-index: 500;
  position: absolute;
  top: 1em;
  right: 1em;
  height: 3em;
  width: auto;
  background-color: white;
  border-radius: 1em;
  padding: .5em;
}

.dot {
  height: 1em;
  width: 1em;
  background-color: #003770;
  border-radius: 50%;
  display: inline-block;
}

.hidden {
  display: none !important;
}

#osm-map {
  font-family: inherit;
}

.leaflet-popup-content p {
  margin: 0.5em 0 !important;
}

.leaflet-popup-content h1, h3 {
  color: #003770;
}

.leaflet-popup-content a {
  color: #3EA9E9;
}

.leaflet-popup-content ul {
  margin-left: 1.5em;
}

@font-face {
  font-family: 'FSJackWeb-Regular';
  src: url('/fonts/FSJackWeb-Regular.eot'); /* IE9 */
  src: url('/fonts/FSJackWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/FSJackWeb-Regular.woff') format('woff');  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
